$border-radius:          20px !default;
$border-color:            #bbb !default;

.button {
  background-color: transparent;
  border-radius: $border-radius;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 45px;
  width: 300px;
  letter-spacing: .1rem;
  line-height: 38px;
  margin-bottom: 1rem;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  @include breakpoint(desktop) {
    padding: 0 15px;
    font-size: 12px;
    width: auto;
  }
  &__main {
    background-color: $red;
    color: $white;
  }
  &__secondary {
    background-color: $white;
    color: $blue;
    border: 1px solid $blue;
    @include breakpoint(desktop) {
      margin-left: 10px;
    }
  }
}
